In [ ]:
import pandas as pd


def time_spent_by_region(month, df_feature_usage_data, df_user_data):
    """
    :param month: Always present
    :param type: str - structured as YYYY-MM, e.g. "2022-07"

    :param df_feature_usage_data: Always present
    :param type: Dataframe

    :param df_user_data: Always present
    :param type: Dataframe

    :return: a dataframe containing all the regions and their Roadmap
    feature time spent in the last year (last 12 months). For the timespent
    not attributed to a region, put this in a row with "No-Region" as the label.

    For example: If "2022-07" is given, use 2021-08-01 to 2022-07-31 as a range

    Example Output Data Frame:
     Region            time spent
     US-West           4659
     US-East           4595
     US-Central        4528
     No-Region         1009

    Remember to `return` your dataframe output!

    Note: It is important for the tests that your output data frame columns and rows match the example output dataframe
    """

    feat_roadmap = df_feature_usage_data[df_feature_usage_data["feature"] == "roadmap"]

    return df_feature_usage_data

In [8]:
df_feature_usage_data = pd.read_csv("./usage_data.csv")
df_user_data = pd.read_csv("./user_data.csv")
feat_usage_roadmap = df_feature_usage_data[
    df_feature_usage_data["feature"] == "Roadmap"
]

feat_usage_roadmap

,date,username,feature,sessions,time spent,average time spent
1,2017-06-01,kcarr,Roadmap,17,55.0,3.235294
5,2017-06-02,ablackwell,Roadmap,15,40.0,2.666667
11,2017-06-03,jbeasley,Roadmap,17,42.0,2.470588
14,2017-06-04,kalvarado,Roadmap,14,59.0,4.214286
20,2017-06-05,wharvey,Roadmap,16,44.0,2.750000
...,...,...,...,...,...,...
10548,2023-01-26,sshepard,Roadmap,13,24.0,1.846154
10552,2023-01-27,swise,Roadmap,13,26.0,2.000000
10564,2023-01-29,rherman,Roadmap,17,23.0,1.352941
10565,2023-01-30,yfriedman,Roadmap,13,24.0,1.846154
10573,2023-01-31,dhays,Roadmap,16,29.0,1.812500

In [6]:
# Find the Sum of time spent on this feature
time_spent_roadmap = feat_usage_roadmap["time spent"].sum()
time_spent_roadmap

82506.33333333

In [9]:
df_user_data.head()

  First_Name Last_Name   Username        Role      Region Subscription_Plan
0    Addison    Tucker    atucker       Sales  US-Central        free_trial
1    Adeline   Fuentes   afuentes   Executive  US-Central               pro
2     Adison    Keller    akeller  Management  US-Central               NaN
3     Adyson  Mcintyre  amcintyre  Management     US-West               pro
4     Adyson   Gardner   agardner   Developer     US-West        free_trial

In [ ]:
# time per region

region_time_spent = df_user_data.groupby("region").agg({"time spent": "sum"})
df_user_data["Region"]

In [12]:
df_user_data = df_user_data.rename(columns={"Username": "username"})
user_feat_data = pd.merge(
    df_user_data, df_feature_usage_data, on="username", how="outer"
)
user_feat_data

,First_Name,Last_Name,username,Role,Region,Subscription_Plan,date,feature,sessions,time spent,average time spent
0,Addison,Tucker,atucker,Sales,US-Central,free_trial,2017-06-29,Reporting,16,32.0,2.000000
1,Addison,Tucker,atucker,Sales,US-Central,free_trial,2017-07-05,Account Managment,13,11.0,0.846154
2,Addison,Tucker,atucker,Sales,US-Central,free_trial,2017-07-06,Automation,14,16.0,1.142857
3,Addison,Tucker,atucker,Sales,US-Central,free_trial,2017-08-23,Account Managment,12,7.0,0.583333
4,Addison,Tucker,atucker,Sales,US-Central,free_trial,2017-08-27,Task Creation,16,15.0,0.937500
...,...,...,...,...,...,...,...,...,...,...,...
10570,Zoey,Mack,zmack,Designer,US-Central,free_trial,2022-10-09,Task Creation,13,17.0,1.307692
10571,Zoey,Mack,zmack,Designer,US-Central,free_trial,2022-11-25,Reporting,16,31.0,1.937500
10572,Zoey,Mack,zmack,Designer,US-Central,free_trial,2022-12-07,Account Managment,3,24.0,8.000000
10573,Zoey,Mack,zmack,Designer,US-Central,free_trial,2022-12-10,Roadmap,4,23.0,5.750000
10574,Zoey,Mack,zmack,Designer,US-Central,free_trial,2023-01-27,Reporting,15,27.0,1.800000

In [17]:
pre_region_time_spent = user_feat_data.groupby("Region").agg({"time spent": "sum"})
region_time_spent = pre_region_time_spent.rename(
    columns={
        "First_Name": "first_name",
        "Last_Name": "last_name",
        "Role": "role",
        "Region": "region",
        "Subscription_Plan": "subscription_plan",
        "time spent": "time_spent",
        "average time spent": "avg_time_spent",
    }
)
print(type(region_time_spent))

<class 'pandas.core.frame.DataFrame'>

In [24]:
import pandas as pd


def time_spent_by_region(month, df_feature_usage_data, df_user_data):
    """
    :param month: Always present
    :param type: str - structured as YYYY-MM, e.g. "2022-07"

    :param df_feature_usage_data: Always present
    :param type: Dataframe

    :param df_user_data: Always present
    :param type: Dataframe

    :return: a dataframe containing all the regions and their Roadmap
    feature time spent in the last year (last 12 months). For the timespent
    not attributed to a region, put this in a row with "No-Region" as the label.

    For example: If "2022-07" is given, use 2021-08-01 to 2022-07-31 as a range

    Example Output Data Frame:
     Region            time spent
     US-West           4659
     US-East           4595
     US-Central        4528
     No-Region         1009

    Remember to `return` your dataframe output!

    Note: It is important for the tests that your output data frame columns and rows match the example output dataframe
    """

    feat_roadmap = df_feature_usage_data[df_feature_usage_data["feature"] == "Roadmap"]

    # Total time spent by all users on roadmap
    # time_spent_roadmap = feat_roadmap['time spent'].sum()

    df_user_data = df_user_data.rename(columns={"Username": "username"})
    user_feat_data = pd.merge(
        df_user_data, df_feature_usage_data, on="username", how="outer"
    )
    pre_region_time_spent = user_feat_data.groupby("Region").agg({"time spent": "sum"})
    region_time_spent = pre_region_time_spent.rename(
        columns={
            "First_Name": "first_name",
            "Last_Name": "last_name",
            "Role": "role",
            "Region": "region",
            "Subscription_Plan": "subscription_plan",
            "time spent": "time_spent",
            "average time spent": "avg_time_spent",
        }
    )
    region_time_spent["date"] = region_time_spent["date"].dt.month
    month_usage = region_time_spent[region_time_spent["date"] == month]
    return print(month_usage)

In [25]:
region_time_spent

              time_spent
Region
US-Central  76528.333333
US-East     73997.666667
US-West     85243.000000

In [ ]:
time_spent_by_region("May", df_feature_usage_data, df_user_data)

KeyError: 'date'

In [ ]:
# month = 'February'

feat_roadmap = df_feature_usage_data[df_feature_usage_data["feature"] == "Roadmap"]

df_user_data = df_user_data.rename(columns={"Username": "username"})
user_feat_data = pd.merge(
    df_user_data, df_feature_usage_data, on="username", how="outer"
)
user_feat_data = user_feat_data.rename(
    columns={
        "First_Name": "first_name",
        "Last_Name": "last_name",
        "Role": "role",
        "Date": "date",
        "Region": "region",
        "Subscription_Plan": "subscription_plan",
        "time spent": "time_spent",
        "average time spent": "avg_time_spent",
    }
)
month_region_time = user_feat_data[user_feat_data["date"] == month]
grouped_region_time_spent = month_region_time.groupby("Region").agg(
    {"time spent": "sum"}
)

In [41]:
user_feat_data["date"] = pd.to_datetime(user_feat_data["date"])
user_feat_data["month"] = user_feat_data["date"].dt.month
month_region_time = user_feat_data[user_feat_data["date"] == month]
grouped_region_time_spent = month_region_time.groupby("region").agg(
    {"time_spent": "sum"}
)

# grouped_region_time_spent
# month_region_time
user_feat_data

,first_name,last_name,username,role,region,subscription_plan,date,feature,sessions,time_spent,avg_time_spent,month
0,Addison,Tucker,atucker,Sales,US-Central,free_trial,2017-06-29,Reporting,16,32.0,2.000000,6
1,Addison,Tucker,atucker,Sales,US-Central,free_trial,2017-07-05,Account Managment,13,11.0,0.846154,7
2,Addison,Tucker,atucker,Sales,US-Central,free_trial,2017-07-06,Automation,14,16.0,1.142857,7
3,Addison,Tucker,atucker,Sales,US-Central,free_trial,2017-08-23,Account Managment,12,7.0,0.583333,8
4,Addison,Tucker,atucker,Sales,US-Central,free_trial,2017-08-27,Task Creation,16,15.0,0.937500,8
...,...,...,...,...,...,...,...,...,...,...,...,...
10570,Zoey,Mack,zmack,Designer,US-Central,free_trial,2022-10-09,Task Creation,13,17.0,1.307692,10
10571,Zoey,Mack,zmack,Designer,US-Central,free_trial,2022-11-25,Reporting,16,31.0,1.937500,11
10572,Zoey,Mack,zmack,Designer,US-Central,free_trial,2022-12-07,Account Managment,3,24.0,8.000000,12
10573,Zoey,Mack,zmack,Designer,US-Central,free_trial,2022-12-10,Roadmap,4,23.0,5.750000,12
10574,Zoey,Mack,zmack,Designer,US-Central,free_trial,2023-01-27,Reporting,15,27.0,1.800000,1

In [48]:
def get_region_time_spent(
    month: str, df_feature_usage_data: pd.DataFrame, df_user_data: pd.DataFrame
) -> pd.DataFrame:
    # Convert month string to datetime object and calculate the start and end dates for last year
    start_date = pd.to_datetime(f"{int(month[:4]) - 1}-08-01")
    end_date = pd.to_datetime(month)

    # Merge with user_data to get Region information
    merged_data = pd.merge(
        df_feature_usage_data, df_user_data, on="username", how="left"
    )
    merged_data["date"] = pd.to_datetime(merged_data["date"])
    filtered_data = merged_data[
        (merged_data["date"] >= start_date) & (merged_data["date"] <= end_date)
    ]
    # Group by Region and sum up time spent; handle 'NaN' regions as "No-Region"
    region_time_spent = merged_data.groupby("Region")["time spent"].sum().reset_index()
    region_time_spent.loc[region_time_spent["Region"].isna(), "Region"] = "No-Region"

    return region_time_spent

In [49]:
result_df = get_region_time_spent("2022-07", df_feature_usage_data, df_user_data)
print(result_df.head())

       Region    time spent
0  US-Central  76528.333333
1     US-East  73997.666667
2     US-West  85243.000000